/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/** -----------------------------
 Attendee Registration widget on dashboard
  ----------------------------- */
.rcn-ar-admin-unique-url-generator-form .regular-text {
    margin-top: 5px;
}

.rcn-ar-admin-unique-url-generator-form .button-primary {
    margin-top: 10px;
}

.rcn-ar-admin-unique-url-generator-notice-success,
.rcn-ar-admin-unique-url-generator-notice-error,
.rcn-ar-admin-unique-url-generator-notice-warning {
    display: none;
}

.rcn-ar-loader {
    display: none;
    color: lightgray;
}

.rcon-dashboard-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.r-con-dashboard-unregistered-attendee {
    width: 300px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    border-radius: 8px;
}

.r-con-dashboard-unregistered-attendee .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #818181;
}

.r-con-dashboard-unregistered-attendee .header .dashicons-update {
    cursor: pointer;
}

.r-con-dashboard-unregistered-attendee .header p {
    margin: 0px;
}

.r-con-dashboard-unregistered-attendee .body p {
    font-size: 18px;
    color: #838383;
}

.r-con-dashboard-unregistered-attendee .body h3 {
    font-size: 55px;
    line-height: 62px;
    margin: 0px;
}

.r-con-dashboard-unregistered-attendee .body span {
    font-size: 55px;
    margin-right: 38px;
}

.r-con-dashboard-unregistered-attendee .footer {
    text-align: end;
    cursor: pointer;
    color: #818181 !important;
}

.r-con-dashboard-unregistered-attendee .footer a {
    text-decoration: none;
}

.rcon-dashboard-wrapper-detail {
    margin-top: 50px;
    max-width: 600px;
}

.r-con-dashboard-unregistered-attendee-list {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.rcon-dashboard-unregistered-attendee-email-reminder {
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
    width: 660px;
}

.rcon-dashboard-unregistered-attendee-email-reminder .header {
    color: #818181;
}

.rcon-dashboard-unregistered-attendee-email-reminder .body {
    position: relative;
}

.rcon-dashboard-unregistered-attendee-email-reminder .body input,
.rcon-dashboard-unregistered-attendee-email-reminder .body textarea {
    width: 100%;
}

.rcon-dashboard-unregistered-attendee-email-reminder .body textarea {
    height: 100px;
}

.rcon-dashboard-unregistered-attendee-email-reminder .footer {
    display: flex;
    justify-content: flex-end;
}

.rcon-dashboard-unregistered-attendee-email-reminder .footer a {
    text-decoration: none;
}

.rcon-dashboard-unregistered-attendee-email-reminder .footer span {
    margin-left: 10px;
}

.rcon-dashboard-unregistered-attendee-email-reminder .rcon-dashboard-notification {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f5f5f5cf;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
